body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
    background-size: cover;
}
.increment{
    text-align: center;
}

.increment h1{
   margin-top: 10px;
   margin-bottom: 10px;
}

.increment h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}
button{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 5px;
}
#increment-btn{
    background-color: brown;
}
#save-btn{
    background-color: green;
}